<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">h1 text</h1>
    <h2 class="h2-text">h2 text</h2>
    <h3 class="h2-text">h3 text</h3>
    <p>Перед публикацией изменений и выполнением команды <span style="color: green">git push</span> необходимо авторизоваться в GitHub с использованием
    персонального токена. Без этого опубликовать изменения в удалённый репозиторий не получится.</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img alt="browsers.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value=12345 placeholder="Text">
        <input required type="email" value=12345 placeholder="Email">
        <input type="password" value=12345 placeholder="Password">
        <textarea required placeholder="Text">12345</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>